# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

# Emacs detritus
*~

# Mac Crap
.DS_Store

# Test data that might have been untarred and not cleaned up
testdata/sample_bad_checksums/
testdata/sample_good/
testdata/sample_no_bag_info/
testdata/sample_missing_data_file/
testdata/sample_no_bagit/
testdata/multi_mb_test_bag.tar
tmp/
