[project]
	description = Server side code for managing BagIt bags sent to and managed by APTrust.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Scott (Streamweaver)
[access "refs/for/refs/*"]
	read = group user/Scott (Streamweaver)
	push = group user/Scott (Streamweaver)
	label-Code-Review = -2..+2 group user/Scott (Streamweaver)
	label-Verified = -1..+1 group user/Scott (Streamweaver)
	rebase = group user/Scott (Streamweaver)
	removeReviewer = group user/Scott (Streamweaver)
	submit = group user/Scott (Streamweaver)
[access "refs/heads/*"]
	read = group user/Scott (Streamweaver)
	create = group user/Scott (Streamweaver)
	push = +force group user/Scott (Streamweaver)
	pushMerge = group user/Scott (Streamweaver)
[access "refs/tags/*"]
	push = +force group user/Scott (Streamweaver)
	pushTag = group user/Scott (Streamweaver)
	pushSignedTag = group user/Scott (Streamweaver)
